# Archivos de Claves y Privacidad
.env
wallets.txt
*.private
private_key.txt

# Carpetas de Código Innecesario
bot/
__pycache__/
venv/
node_modules/

# Archivos de Compilación y Logs
*.bin
*.abi
*.log
.history
